---
import Layout from '../layouts/Layout.astro';
import ExercisePage from '../components/ExercisePage.svelte';
import { generateExercises, generateFilters } from '../constant.ts';
import type { Exercise } from '../lib/types';
import ExtentedCard from '../components/ExtentedCard.svelte';
import ExtendedCard from '../components/ExtendedCard.svelte';

const exercises_file_path = './src/data/uebungen.json';
const exercises: Exercise[] = generateExercises(exercises_file_path);
export const filter_fields: (keyof Exercise)[] = [
  'category',
  'level',
  'mechanic',
  'equipment',
  'category',
];
const filters: Map<keyof Exercise, Set<string>> = generateFilters(
  exercises,
  filter_fields
);
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto p-4">
    <ExtendedCard exercise={exercises[0]} />
    <h1 class="text-2xl font-bold mb-4">Exercises</h1>
    <ExercisePage exercises={exercises} filters={filters} client:load />
  </main>
</Layout>
