---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Workout Planner">
  <main
    class="container mx-auto p-4 bg-gray-100 text-gray-900 rounded-lg shadow-lg"
  >
    <h1 class="text-3xl font-bold mb-6 text-blue-700">Workout Planner</h1>

    <form class="space-y-8 bg-white p-6 rounded-lg shadow-md">
      <!-- Training Frequency -->
      <div class="space-y-2">
        <label class="text-xl font-bold text-blue-600" for="frequency"
          >1. Wie oft hast du vor zu trainieren?</label
        >
        <input
          type="range"
          id="frequency"
          name="frequency"
          min="1"
          max="7"
          value="4"
          class="w-full mt-2"
        />
        <div class="text-center mt-2">
          <span id="frequencyValue" class="text-2xl text-gray-600">4x</span>
          <span class="text-gray-700">Woche</span>
        </div>
        <div id="restDayHint" class="text-center text-red-500 mt-2 hidden">
          Es wird empfohlen, mindestens 1 Ruhetag pro Woche zu haben.
        </div>
      </div>

      <!-- Training Duration -->
      <div class="space-y-2">
        <label class="text-xl font-bold text-blue-600" for="duration"
          >2. Wie lange hast du vor zu trainieren?</label
        >
        <input
          type="range"
          id="duration"
          name="duration"
          min="30"
          max="180"
          step="10"
          value="60"
          class="w-full mt-2"
        />
        <div class="text-center mt-2">
          <span id="durationValue" class="text-2xl text-gray-600">60 min</span>
        </div>
      </div>

      <!-- Goal -->
      <div class="space-y-2">
        <label class="text-xl font-bold text-blue-600"
          >3. Was ist dein Ziel?</label
        >
        <div class="flex space-x-4 mt-2">
          <label class="flex items-center">
            <input type="radio" name="goal" value="abnehmen" class="mr-2" />
            <span class="text-gray-700">Abnehmen</span>
          </label>
          <label class="flex items-center">
            <input type="radio" name="goal" value="zunehmen" class="mr-2" />
            <span class="text-gray-700">Zunehmen</span>
          </label>
          <label class="flex items-center">
            <input type="radio" name="goal" value="fitbleiben" class="mr-2" />
            <span class="text-gray-700">Fit bleiben</span>
          </label>
        </div>
      </div>
      <div class="space-y-2">
        <label class="text-xl font-bold text-blue-600"
          >4. Was ist dein Ziel?</label
        >
        <div class="flex space-x-4 mt-2">
          <label class="flex items-center">
            <input type="radio" name="goal" value="kraft" class="mr-2" />
            <span class="text-gray-700">Kraft</span>
          </label>
          <label class="flex items-center">
            <input type="radio" name="goal" value="muskel" class="mr-2" />
            <span class="text-gray-700">Muskel</span>
          </label>
          <label class="flex items-center">
            <input type="radio" name="goal" value="ausdauer" class="mr-2" />
            <span class="text-gray-700">Ausdauer</span>
          </label>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300"
          >Submit</button
        >
      </div>
    </form>
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const frequencyInput = document.getElementById(
      'frequency'
    ) as HTMLInputElement;
    const frequencyValue = document.getElementById('frequencyValue');
    const restDayHint = document.getElementById('restDayHint');
    const durationInput = document.getElementById(
      'duration'
    ) as HTMLInputElement;
    const durationValue = document.getElementById('durationValue');

    if (frequencyInput && frequencyValue) {
      frequencyInput.addEventListener('input', () => {
        frequencyValue.textContent = `${frequencyInput.value}x`;
        if (frequencyInput.value === '7' && restDayHint) {
          restDayHint.classList.remove('hidden');
        } else if (restDayHint) {
          restDayHint.classList.add('hidden');
        }
      });
    }

    if (durationInput && durationValue) {
      durationInput.addEventListener('input', () => {
        durationValue.textContent = `${durationInput.value} min`;
      });
    }
  });
</script>
