---
import Navbar from "../components/Navbar.svelte";
const { title } = Astro.props;
const { pathname } = Astro.url;
---

<html lang="de">
  <head>
    <script is:inline define:vars={{ pathname }}>
      function getTheme() {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dim";
        }
        return "emerald";
      }

      function setTheme(theme) {
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
      }

      const theme = getTheme();
      setTheme(theme);

      document.addEventListener("astro:after-swap", () => setTheme(getTheme()));

      // Make theme available to Svelte components
      window.theme = theme;
      window.setTheme = setTheme;
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar client:load currentPath={pathname} />
    <slot />
  </body>
</html>

<footer class="text-base-content">
  <div class="footer footer-center p-10 bg-base-200">
    <!-- Socials -->
    <nav class="grid grid-flow-col gap-6">
      <a class="btn btn-ghost btn-sm btn-circle">
        <i class="fa-brands fa-github text-2xl"></i>
      </a>
      <a class="btn btn-ghost btn-sm btn-circle">
        <i class="fa-brands fa-twitter text-2xl"></i>
      </a>
      <a class="btn btn-ghost btn-sm btn-circle">
        <i class="fa-brands fa-facebook text-2xl"></i>
      </a>
      <a class="btn btn-ghost btn-sm btn-circle">
        <i class="fa-brands fa-youtube text-2xl"></i>
      </a>
    </nav>

    <!-- Links -->
    <nav>
      <div class="flex flex-wrap justify-center gap-y-2 gap-x-6 text-lg">
        <a class="link link-hover">Contact us</a>
        <a class="link link-hover">Services</a>
        <a class="link link-hover">Privacy Policy</a>
        <a class="link link-hover">Terms & Conditions</a>
        <a class="link link-hover">Career</a>
      </div>
    </nav>
  </div>

  <!-- Brand -->
  <aside class="bg-base-300 py-4 px-8 w-full flex gap-2 flex-wrap justify-between items-center text-sm">
    <p class="text-xl flex items-center gap-2">
      <img alt="Logo" src="images/logo.svg" class="w-4" />
      <span>Company</span>
    </p>
    <p>Copyright © 2024 - All rights reserved</p>
  </aside>
</footer>
